
#TextoBonito{
    margin-left: 10px;
    border-left: 3px solid rgb(31, 198, 240);
}

#CentrarTexto{
    margin-left: 10px;
}

p{
    font-weight: bolder;
}

#Boton{
    margin-left: 10px;
    background-color:  rgb(65, 163, 187);
    color:white;
    padding: 10px;
}

select{
    border: 1px solid black;
    font-size: 15px;
    height: 25px;
    padding: 3px;
    width: 740px;
}



