<form class="p-5 d-flex flex-column gap-3" [formGroup]="registrarUsuario">
  <div class="form-group">
    <label>Nombre de usuario</label>
    <input
      type="text"
      class="form-control"
      placeholder="Introduce tu nombre de usuario"
      formControlName="nom"
      required
      [ngClass]="{ 'is-invalid': isSubmit && formControl['nom'].errors }"
    />

    <div
      *ngIf="isSubmit && formControl['nom'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="formControl['nom'].errors['required']">
        Debes poner tu nombre de usuario.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Apellidos</label>
    <input
      type="text"
      class="form-control"
      placeholder="Introduce tus Apellidos"
      formControlName="cognoms"
      required
      [ngClass]="{ 'is-invalid': isSubmit && formControl['cognoms'].errors }"
    />

    <div
      *ngIf="isSubmit && formControl['cognoms'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="formControl['cognoms'].errors['required']">
        Debes poner tu apellido.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Edad</label>
    <input
      type="number"
      class="form-control"
      placeholder="Introduce tu edad"
      formControlName="edat"
      required
      [ngClass]="{ 'is-invalid': isSubmit && formControl['edat'].errors }"
    />

    <div
      *ngIf="isSubmit && formControl['edat'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="formControl['edat'].errors['required']">
        Debes poner tu edad.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Descripción</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="emailHelp"
      placeholder="Describete en pocas palabras"
      formControlName="descripcio"
      required
      [ngClass]="{
        'is-invalid': isSubmit && formControl['descripcio'].errors
      }"
    />
    <div
      *ngIf="isSubmit && formControl['descripcio'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="formControl['descripcio'].errors['required']">
        Debes poner una breve descripción acerca de ti.
      </div>

      <div *ngIf="formControl['descripcio'].errors['minLength']">
        Debes poner una descripción de mínimo 4 carácteres.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Correo electrónico</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Introduce tu email"
      formControlName="correu"
      required
      [ngClass]="{
        'is-invalid': isSubmit && formControl['correu'].errors
      }"
    />

    <div
      *ngIf="isSubmit && formControl['correu'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="formControl['correu'].errors['required']">
        Debes poner tu email.
      </div>

      <div *ngIf="formControl['correu'].errors['email']">
        Debes poner un correo electrónico válido.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Contraseña"
      formControlName="clau"
      required
      [ngClass]="{
        'is-invalid': isSubmit && formControl['clau'].errors
      }"
    />

    <div
      *ngIf="isSubmit && formControl['clau'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="formControl['clau'].errors['required']">
        Debes poner una contraseña.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Repetir contraseña</label>
    <input
      type="password"
      class="form-control"
      placeholder="Contraseña"
      formControlName="clauMatch"
      required
      [ngClass]="{
        'is-invalid': isSubmit && formControl['clauMatch'].errors
      }"
    />

    <div
      *ngIf="isSubmit && formControl['clauMatch'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="formControl['clauMatch'].errors['required']">
        Debes poner una contraseña.
      </div>
      <div *ngIf="formControl['clauMatch'].errors['confirmedValidator']">
        Ambas contraseñas deben de ser iguales
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="submit()">
    Registrar usuario
  </button>
</form>
