<!-- CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>

<div class="container text-center mt-5">
  <h1>Septiembre</h1>
  <table class="bg-light rounded-3">
    <div class="p-5">
      <div class="row row-cols-6">
        <td *ngFor="let dias of semana" class="text-danger text-center">
          <tr>
            {{
              dias
            }}
          </tr>
        </td>
      </div>
      <div class="row row-cols-6">
        <td *ngFor="let dia of septiembre">
          <tr
            [ngClass]="{
              'festivo-regional': dia === 11
            }"
          >
            {{
              dia
            }}
          </tr>
        </td>
      </div>
    </div>
  </table>
  <div class="mt-5"></div>
  <h1 class="text-center">Octubre</h1>
  <table class="bg-light rounded-3">
    <div class="p-5">
      <div class="row row-cols-6">
        <td *ngFor="let dias of semana" class="text-danger text-center">
          <tr>
            {{
              dias
            }}
          </tr>
        </td>
      </div>
      <div class="row row-cols-6">
        <td *ngFor="let dia of octubre">
          <tr
            [ngClass]="{
              'festivo-regional': dia === 11,
              'festivo-local': dia === 29
            }"
          >
            {{
              dia
            }}
          </tr>
        </td>
      </div>
    </div>
  </table>
</div>

<div class="d-flex flex-row mb-3 gap-5 justify-content-center mt-5">
  <div class="p-2" [ngStyle]="{ color: '#49E37C' }">Festiu National</div>
  <div class="p-2" [ngStyle]="{ color: '#7A65D6' }">Festiu Regional</div>
  <div class="p-2" [ngStyle]="{ color: '#E14DB0' }">Festiu Local</div>
  <div class="p-2" [ngStyle]="{ color: '#CAE252' }">Festiu Centre</div>
</div>
