<!-- CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>

<div class="container text-center mt-5">
  <h1>Septiembre</h1>
  <table class="bg-light rounded-3">
    <div class="p-5">
      <div class="row row-cols-6">
        <td *ngFor="let dias of semana" class="text-danger text-center">
          <div>
            {{
              dias
            }}
          </div>
        </td>
      </div>
      <div class="row row-cols-6">
        <td *ngFor="let dia of septiembre">
          <div
            [ngClass]="{
              festivo_regional:
                setFestive(dia, 'septiembre') == 'fiestaRegional',
              festivo_nacional:
                setFestive(dia, 'septiembre') == 'fiestaNacional',
              festivo_local: setFestive(dia, 'septiembre') == 'fiestaLocal',
              festivo_centro: setFestive(dia, 'septiembre') == 'fiestaCentro'
            }"
          >
            {{
              dia
            }}
          </div>
        </td>
      </div>
    </div>
  </table>
  <div class="mt-5"></div>
  <h1 class="text-center">Octubre</h1>
  <table class="bg-light rounded-3">
    <div class="p-5">
      <div class="row row-cols-6">
        <td *ngFor="let dias of semana" class="text-danger text-center">
          <div>
            {{
              dias
            }}
          </div>
        </td>
      </div>
      <div class="row row-cols-6">

        <div>
          
        </div>
        <td *ngFor="let dia of octubre">
          <div
            [ngClass]="{
              festivo_regional: setFestive(dia, 'octubre') == 'fiestaRegional',
              festivo_nacional: setFestive(dia, 'octubre') == 'fiestaNacional',
              festivo_local: setFestive(dia, 'octubre') == 'fiestaLocal',
              festivo_centro: setFestive(dia, 'octubre') == 'fiestaCentro'
            }"
          >
            {{
              dia
            }}
          </div>
        </td>
      </div>
    </div>
  </table>
</div>

<div class="d-flex flex-row mb-3 gap-5 justify-content-center mt-5">
  <div class="p-2" [ngStyle]="{ color: '#49E37C' }">Festivo National</div>
  <div class="p-2" [ngStyle]="{ color: '#7A65D6' }">Festivo Regional</div>
  <div class="p-2" [ngStyle]="{ color: '#E14DB0' }">Festivo Local</div>
  <div class="p-2" [ngStyle]="{ color: '#CAE252' }">Festivo Centre</div>
</div>
