.festivo_nacional{
    background-color: #49E37C;
}
.festivo_regional{
    background-color: #7A65D6;
}
.festivo_local{
    background-color: #E14DB0;
}
.festivo_centro{
    background-color: #CAE252;
}
.row-cols-6>* {
    flex: 0 0 auto !important;
    width: 13.666667% !important;
}
