<h2>Esta es la Articulos Page</h2>

<h3>Contenido de la Articulos Page</h3>
<p #p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget risus pulvinar, lacinia quam interdum, iaculis
  urna. Nulla posuere lacus orci, eu posuere nunc efficitur in. Interdum et malesuada fames ac ante ipsum primis in
  faucibus. Morbi ornare, massa eget interdum lacinia, metus risus laoreet elit, at finibus diam diam id urna. Aenean
  vulputate sapien quam, vel ultrices sapien elementum et. Integer congue posuere vulputate. Ut pulvinar ante non
  placerat faucibus. Phasellus eget dignissim orci, sed dapibus neque. Integer ornare ligula non tortor iaculis egestas
  vel eget eros. Phasellus risus metus, commodo elementum pulvinar ut, tristique et sapien. Fusce eu.</p>
<button (click)="verDetalles()">Ver detalles</button>
