nav{
    background-color: #2d1f12 !important;
}

body{
    background-color: #ddc288;
    font-family: 'Ubuntu Mono', monospace;  
}

h1{
    text-align: center;
    margin-top: 20px;
}

p{
    margin-top: 20px;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
    font-size: 20px;
}

img:hover{
    transform: scale(1.1);
    transition: .2s;
    z-index: 1000;
}

.imgRedonda {
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #7d4922;
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#centrado{
    margin:10px auto;
    display:block;
}

#operaciones{
    margin-left: 100px;
    margin-right: 100px;
}