<form action="" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div
    class="d-flex flex-column container card p-5 shadow mb-5 bg-body rounded mt-5"
  >
    <mat-form-field appearance="fill" class="rounded-5">
      <mat-label>Titulo</mat-label>
      <input matInput id="first-name" type="text" formControlName="taskTitle" />
    </mat-form-field>
    <mat-form-field appearance="fill" id="options" >
      <mat-label>Progreso</mat-label>
      <mat-select formControlName="taskOptions">
        <mat-option value="pendientes">Pendientes</mat-option>
        <mat-option value="Progreso">Progreso</mat-option>
        <mat-option value="Finalizadas">Finalizadas</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Elije una fecha</mat-label>
      <input
        id="date"
        matInput
        [matDatepicker]="picker"
        formControlName="date"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>URL Imágen</mat-label>
      <input matInput formControlName="imgUrl" />
    </mat-form-field>
    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <button type="button" class="mt-2 btn btn-info rounded-circle">
          <i class="bi bi-plus text-white fs-3" (click)="cositas()"></i>
        </button>
      </div>
    </div>

    <div class="d-flex flex-column gap-3">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!taskForm.valid"
      >
        <i class="bi bi-download"></i> Guardar
      </button>

      <button
        type="button"
        class="btn btn-danger"
        (click)="cancelTask()"
      >
        <i class="bi bi-trash"></i> Cancelar
      </button>
    </div>
  </div>
</form>
