.form-container {
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  text-align: left;
  display: grid;
}

.form > mat-form-field {
  padding-bottom: 10px;
}

.full-width {
  width: 100%;
}

.contenedor-usuarios {
  text-align: right;
  padding: 2px 5px 0px 5px;
}

.contenedor-usuarios > img {
  border-radius: 100px;
  width: 45px;
  padding: 0px 5px 5px 5px;
  cursor: pointer;
}

.form-buttons {
  margin-bottom: 10px;
}
